appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7"
asgiref==3.3.4; python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
decorator==5.0.9; python_version >= "3.7"
django==3.2.3; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
ipdb==0.13.7; python_version >= "2.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.23.1; python_version >= "3.7"
jedi==0.18.0; python_version >= "3.7"
matplotlib-inline==0.1.2; python_version >= "3.7"
parso==0.8.2; python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
prompt-toolkit==3.0.18; python_full_version >= "3.6.1" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7"
pygments==2.9.0; python_version >= "3.7"
pytz==2021.1; python_version >= "3.6"
sqlparse==0.4.1; python_version >= "3.6"
toml==0.10.2; python_version > "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version > "3.6"
traitlets==5.0.5; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
